<% provide(:title, "Shopping cart") %>

<h1>Shopping cart</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ol class="orders">
      <span class="order_info">
      Total: ¥<%= sum(@order) %></span>
    </ol>
    <ol class="products">
      <%= render @order.details %>
    </ol>

    <ol class="orders">
    <span class="timestamp">
      Cart created <%= time_ago_in_words(@order.cart_created_at) %> ago.
    </span>
    <span class="timestamp">
        <%= link_to "Cancel", "/cart/#{current_order.id}", method: :delete, data: { confirm: "You sure?" } %>
    </span>
    </ol>

    <%= form_for(@order, url: "/cart/#{current_order.id}/edit", html: { method: "POST" }) do |f| %>
      <%= hidden_field_tag :order_id, @order.id %>
      <%= f.submit "Check an order", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
