<% provide(:title, "Add a product") %>

<h1>Add a product</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :name  %>
        <%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
        <%= f.label :picture  %>
        <%= f.file_field :picture, class: 'form-control' %>
        <%= f.label :gender_id  %>
        <%= f.select :gender_id, [["", ""], ["Men's", 1], ["Lady's", 2], ["Unisex", 3]], class: 'form-control' %>
        <%= f.label :category_id  %>
        <%= f.select :category_id, [["", ""], ["Coat", 1], ["Parker", 2], ["Shirt", 3], ["T-shirt", 4], ["Pants", 5],
            ["Underware", 6], ["Skirt", 7], ["Jacket", 8], ["Short-pants", 9], ["Accessory", 10]], class: 'form-control' %>
        <%= f.label :size_id  %>
        <%= f.select :size_id, [["", ""], ["S", 1], ["M", 2], ["L", 3], ["XL", 4], ["XXL", 5]], class: 'form-control' %>
        <%= f.label :price  %>
        <%= f.number_field :price, placeholder: "Price", class: 'form-control' %>
        <%= f.label :abstract  %>
        <%= f.text_area :abstract, placeholder: "Abstract", class: 'form-control' %>
      </div>
      <%= f.submit "Add a product", class: "btn btn-primary" %>
    <% end %>

    <script type="text/javascript">
      $('#micropost_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
          alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
      });
    </script>

  </div>
</div>
